
#NPM
/node_modules
/node_modules/*

#EDITORS
/.vscode/

#CAKEPHP
/logs
/logs/*
/tmp
/tmp/*

#VENDORS
/vendor
/vendor/*

/plugins/Site/webroot
/plugins/Site/webroot/*

/plugins/Gerenciador/webroot
/plugins/Gerenciador/webroot/**/*

package-lock.json
composer.lock

/config/app.php
