*{box-sizing: border-box;}
@keyframes ball {
  0% {
    transform: rotate(0deg)
  }
  
  to {
    transform: rotate(1turn)
  }
}
@keyframes ball-inverted {
  0% {
    transform: rotate(0deg)
  }
  
  to {
    transform: rotate(-1turn)
  }
}

html, body{
  width: 100%;
  height: 100%;
}

section{
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.wrapper{
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

#Home{
  background-color: #FFF;
  width: 100%;
  height: 100%;
  .wrapper{
    position: relative;
    height: initial;
    .esfera-mobile{
      display: none;
      text-align: center;
    }
    .title_home{
      font-family: $verlag-light;
      font-size: 50px;
      color: #000;
      width: 100%;
      text-align: center;
      padding: 150px 0;
      opacity: 1;
      text-transform: lowercase;
      span{
        font-family: $verlag-bold;
      }
    }
    .logo_home{
      position: absolute;
      right: 0;
      top: 16%;
    }
  }
  .control_ball{
    padding-right: calc((100vw - 1200px)/2);
  }
  .bg-eclipse{
    background-image: url('../images/triangle_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    .circle_externo{
      margin-top: -50%;
      text-align: right;
      img{
        width: 80%;
        margin-right: -10px;
        animation-name: ball;
        animation-duration: 200s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}
#About{
  background-color: #000;
  background-image: url('../images/bg_black.png');
  
  .content{
    display: table;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $gray;
    .tabled{
      display: table-cell;
      width: 43%;
      //background-color: tomato;
      padding: 0 40px;
      vertical-align: middle;
      &:first-child{
        padding-left: 0;
        padding-right: 0;
        width: 33%;
      }
      &:last-child{
        width: 23%;
      }
      h2{
        
      }
    }
  }
  
  /* Animations */
  
  .element-side-text{
    position: relative;
    z-index: 0;
    margin-top: 900px;
    -webkit-transition: margin-top 1s; /* For Safari 3.1 to 6.0 */
    transition: margin-top 1s;
    &.animated{
      margin-top: 0px;
    }
  }
  .element-aboutus{
    position: relative;
    z-index: 0;
    margin-top: -900px;
    -webkit-transition: margin-top 2s; /* For Safari 3.1 to 6.0 */
    transition: margin-top 2s;
    &.animated{
      margin-top: 0px;
    }
  }
  .element-globe{
    background: url('../images/globe.png') center no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 800px;
    right: 50px;
    -webkit-transition: top 2s; /* For Safari 3.1 to 6.0 */
    transition: top 2s;
    &.animated{
      top: -120px;
      // animation-name: ball;
      // animation-duration: 20s;
      // animation-iteration-count: infinite;
      // animation-timing-function: linear;
    }
  }
  .element-message{
    background: url('../images/brands-beyond-out.jpg') center no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 600px;
    right: -65px;
    -webkit-transition: top 2s; /* For Safari 3.1 to 6.0 */
    transition: top 2s;
    &.animated{
      top: 160px;
    }
  }
  
}


#Services{
  background: url('../images/bg-services.png');
  background-size: cover;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  
  .element-title{
    width: 100%;
    text-align: left;
    position: absolute;
    top: -30px;
    .big_title{
      color: #D2D2D2;
    }
  }
  
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    .big_title{
      color: #000;
      text-transform: lowercase;
      font-size: 177px;
      line-height: 140px;
      text-align: center;
      font-style: italic;
      transform: translateX(-100vw);
      transition: all 2s;
      &.animated{
        transform: translateX(0px);
      }
    }
    .wrapper{
      display: flex;
      align-items: center;
      
      .element-service{
        
      }
      .area-text{
        width: 40%;
        font-family: Verlag-Book;
        font-size: 1.2vw;
        color: #000;
        line-height: 1.9vw;
      }
      .area-util{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 610px;
        position: relative;
        width: 100%;
        margin-top: 310px;
        margin-left: 110px;
        div{
          text-transform: lowercase;
        }
        .title-more-medium{
          display: none;
        }
        .service-box1{
          display: block;
          position: absolute;
          left: 84px;
          top: -6px;
          transform: translateY(-20vh);
          transition: all 2s;
          &.animated{
            transform: translateY(0px);
          }
        }
        .service-box2{
          display: block;
          position: absolute;
          left: 50px;
          top: 115px;
          transform: translateX(+120vh);
          transition: all 2s;
          &.animated{
            transform: translateX(0px);
          }
        }
        .service-box3{
          display: block;
          position: absolute;
          left: 90px;
          top: 190px;
          transform: translateX(-120vh);
          transition: all 2s;
          &.animated{
            transform: translateX(0px);
          }
        }
        .service-box4{
          display: block;
          position: absolute;
          left: 405px;
          top: 270px;
          transform: translateY(+120vh);
          transition: all 2s;
          &.animated{
            transform: translateY(0px);
          }
        }
        .service-box5{
          display: block;
          position: absolute;
          width: 80%;
          left: 115px;
          top: 360px;
          opacity: 0;
          transition: all 4s;
          text-transform: none !important;
          &.animated{
            opacity: 1;
          }
        }
        .service-box6{
          display: block;
          position: absolute;
          left: 80px;
          top: 270px;
          font-size: 70px;
          transform: translateY(+120vh);
          transform: translateX(-120vw);
          transition: all 2s;
          &.animated{
            transform: translateY(0px);
            transform: translateX(0px);
          }
        }
      }
    }
  }
}
#Clients{
  background-image: url('../images/bg_black.png');
  background-color: #000000;
  position: relative;
  
  .big_title{
    font-size: 220px;
    margin-top: -30px;
  }
  
  .vertical-title{
    position: absolute;
    top: 900px;
    left: -321px;
    transform: rotate(-90deg);
    -webkit-transition: top 3s;
    transition: top 3s;
    z-index: 0;
    
    &.animated{
      top: calc(50%);
    }
    .big_title{
      color: $white;
      opacity: 0.1;
    }
  }
  
  .content{
    display: flex;
    height: 100%;
    vertical-align: middle;
    display: relative;
    color: $white;
    
    .box-list-clients{
      width: 50%;
      padding: 0 50px;
      display: flex;
      align-items: center;
      
      ul.clients-ul{
        float: left;
        li{
          float: left;
          width: 33%;
          padding: 15px 25px;
          img{
            width: 100%;
          }
        }
      }
      
      /* Animations for image-box */
      ul.clients-ul li{
        //padding: 60px;
        opacity: 0;
        -webkit-transition: all 2.7s;
        transition: all 2.2s;
        &.animated{
          opacity: 1;
          //padding: 12px;
        }
      }
      
      ul.clients-ul li:nth-child(3n){
        //padding: 60px;
        opacity: 0;
        -webkit-transition: all 3.4s;
        transition: all 3s;
        &.animated{
          opacity: 1;
          //padding: 12px;
        }
      }
      
      ul.clients-ul li:nth-child(5n){
        //padding: 40px;
        opacity: 0;
        -webkit-transition: all 2.1s;
        transition: all 2.1s;
        &.animated{
          opacity: 1;
          //padding: 12px;
        }
      }
    }
    
    .box-description-clients{
      width: 50%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 80px;
      z-index:1;
      
      .image-box{
        width: 100%;
        text-align: center;
        position: relative;
        
        &::after{
          content: "";
          background: url("../images/scotch-tape.png");
          background-size: cover;
          width: 134px;
          height: 31px;
          position: absolute;
          left: calc(50% - 67px);
          top: -15px;
        }
      }
    }
  }
}
#Headquarters{
  background-image: url('../images/bg_white.png');
  
  .element-title{
    width: 100%;
    text-align: left;
    position: absolute;
    top: -240px;
    -webkit-transition: top 2s; /* For Safari 3.1 to 6.0 */
    transition: top 2s;
    &.animated{
      top: -40px;
    }
    .big_title{
      color: $darkgray;
    }
  }
  
  .content{
    position: relative;
    height: 100%;
    .map-image{
      background: url('../images/bg_countries.png') 50% center no-repeat;
      width: 100%;
      height: 800px;
      margin-left: 0px;
      margin-top: 100px;
      display: table;
      align-items: center;
      /* Testing */
      height: 70%;
      background-size: contain;
      margin-top: 170px;
      max-height: 650px;
      
      .countries{
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        
        .country{
          font-family: Verlag-Bold;
          width: 260px;
          height: 260px;
          position: relative;
          z-index: 3;
          margin: 0 10px;
          display: inline-flex;
          .description{
            text-align: center;
          }
          a{
            border: 0;
          }
        }
      }
    }
  }
  
  /* Animations */
  .element-country{
    width: 100%;
    text-align: left;
    position: absolute;
    -webkit-transition: top 2s; /* For Safari 3.1 to 6.0 */
    transition: top 2s;
    
    &[data-id='0']{
      top: -1200px;
    }
    &[data-id='1']{
      top: -900px;
    }
    &[data-id='2']{
      top: -600px;
    }
    &[data-id='3']{
      top: -300px;
    }
    &.animated{
      top: 0px;
    }
  }
}
#Network{
  background-color: $white;
  
  .element-title{
    width: 100%;
    text-align: left;
    position: absolute;
    top: -240px;
    -webkit-transition: top 2s; /* For Safari 3.1 to 6.0 */
    transition: top 2s;
    &.animated{
      top: -40px;
    }
    .big_title{
      color: $darkgray;
    }
  }
  
  .content{
    display: flex;
    height: 100%;
    vertical-align: middle;
    display: relative;
    padding: 160px 0;
    flex-direction: column;
    flex-wrap: wrap;
    
    .slider{
      position: relative;
      z-index: 99;
    }
  }
  
  .wrapper {
    height: initial;
  }
  
  .world-map{
    width: 100%;
    //max-width: 110vh;
  }
  
  .wrapper-full{
    width: 100%;
  }
  
  #world-map{
    position: relative;
    margin-top: 30px;
  }
  .mobile-list-afiliate{
    display: none;
  }
}

#Contact{
  background-color: #000;
  background-image: url('../images/bg_black.png');
  position: relative;
  
  .element-title{
    opacity: 0.5;
    width: 100%;
    text-align: right;
    position: absolute;
    top: 0;
  }
  
  .content{
    background-image: url('../images/bg-contact.png');
    width: 100vw;
    height: 900px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    // background-size: contain;
    
    .container{
      margin: 0 auto;
      width: 60vw;
      text-align: center;
      @media screen and (max-width: 1450px) {
        width: 70vw;
      }
      @media screen and (max-width: 1200px) {
        width: 80vw;
      }
    }
    h1{
      font-family: 'Verlag-Bold';
      color: #FFF;
      font-size: 50px;
      width: 100%;
    }
    
    .form{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      
      label{
        font-family: 'Verlag-Bold';
        color: #FFF;
        font-size: 40px;
      }
      
      select{
        margin-left: 20px;
        width: 300px;
        background: transparent;
        border: 0;
        border-bottom: 1px #707378 solid;
        border-radius: 0;
        font-family: 'Verlag-Book';
        font-size: 25px;
        color: #707378;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#FFF' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        outline: 0;
        padding: 0 0 10px 35px;
      }
      
      input{
        margin-left: 20px;
        width: 300px;
        background: transparent;
        border: 0;
        border-bottom: 1px #707378 solid;
        border-radius: 0;
        font-family: 'Verlag-Book';
        font-size: 25px;
        color: #707378;
        outline: 0;
        padding: 0 0 0 35px;
      }
      
      aside{
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
        margin: 30px 0;
      }
      
      .box-full{
        width: 100%;
        label{
          width: 100%;
          display: block;
          margin: 30px 0;
        }
        
        textarea{
          width: 100%;
          min-height: 190px;
          background: transparent;
          border: 1px #707378 solid;
          border-radius: 0;
          font-family: 'Verlag-Book';
          font-size: 25px;
          outline: 0;
          color: #fff;
          padding: 10px 15px;
        }
      }
      
      .box-together{
        margin: 20px auto;
      }
      
      .box-send{
        margin: 30px auto;
        width: 100%;
        button{
          padding: 10px 130px;
          font-family: 'Verlag-Book';
          font-size: 20px;
        }
      }
    }
  }
}
